*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.metal.air
*.metallib
*.metallib.c
*.ptx
*.ptx.c
*.ptx.gz
*_g
*.jpg
*.mp4
point*.txt
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/config_components.h
/coverage.info
/lcov/
/src
/mapfile
/tools/python/__pycache__/
/doc/examples/SDLmain.cpp
/doc/examples/toolbox2.cpp
/doc/examples/act2.cpp
/doc/examples/act2.h
/doc/examples/matrix.cpp
/doc/examples/matrix.h
/doc/examples/Makefile.act
